* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gameScene {
    width: 65%;
    min-width: 1200px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    flex-direction: row;
}

#top-deck {
    width: 100%;
    height: 250px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

#left {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: nowrap;
    flex-direction: row;

}

.box {
    width: 150px;
    min-width: 150px;
    height: 230px;
    border: solid 1px black;
}

.card:first-child {
    position: relative;
    top: 0;
}

.card {
    position: absolute;
    top: 30px;
}

.card img {
    width: 150px;
    height: 230px;
}

.card-c {
    position: absolute;
    top: 0;
}

.card-c img {
    width: 150px;
    height: 230px;
}

.card-c:first-child {
    position: relative;
    top: 0;
}

#right {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
    flex-direction: row;
}

#right button {
    margin-left: 10px;
}

#play-deck {
    width: 100%;
    height: calc(100vh - 250px);

    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    flex-wrap: nowrap;
    flex-direction: row;
}

.stack {
    width: 150px;
    min-width: 150px;
    min-height: 230px;
    border: solid 1px black;

    position: relative;
}
